<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.noticeMapper">


    <select id="getNotices" resultType="NoticeDTO">
        select n.nid, title, content, count(a.aid) as attach_count
        from tbl_notice n
                 left outer join tbl_attach a
                           on n.nid = a.nid
        group by n.nid, n.title, n.content
        ORDER by nid desc
        limit 0,20;
    </select>

    <select id="getNoticeById" parameterType="_int" resultType="NoticeDTO">
        select nid, title, content
        from tbl_notice
        where nid = #{nid}
    </select>

    <select id="getAttaches" parameterType="_int" resultType="AttachDTO">
        select aid, nid, file_path, original_filename, filesystem_name
        from tbl_attach
        where nid = #{nid}
    </select>

    <insert id="insertNotice" parameterType="NoticeDTO"
            useGeneratedKeys="true" keyProperty="nid">
        insert into tbl_notice(title, content)
        values (#{title}, #{content})
    </insert>

    <insert id="insertAttach" parameterType="AttachDTO">
        insert into tbl_attach(nid, file_path, original_filename, filesystem_name)
        values (#{nid}, #{filePath}, #{originalFilename}, #{filesystemName})
    </insert>

    <delete id="deleteNoticeById" parameterType="_int">
        delete
        from tbl_notice
        where nid = #{nid}
    </delete>

    <select id="getAttachById" parameterType="_int" resultType="AttachDTO">
        select aid, nid, file_path, original_filename, filesystem_name
        from tbl_attach
        where aid = ${aid}

    </select>
</mapper>
